/* work-sans-300 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/work-sans-v24-latin-300.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* work-sans-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/work-sans-v24-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* work-sans-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/work-sans-v24-latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* work-sans-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/work-sans-v24-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* work-sans-800 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 800;
  src: url('../fonts/work-sans-v24-latin-800.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* work-sans-900 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 900;
  src: url('../fonts/work-sans-v24-latin-900.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
:root {
    --bg-color-button: #A259FF;
    --heading-size-desctop: 38px;
    --border-radius20: 20px;
    --font-style-work-sans: 'Work Sans', sans-serif;
}
body {
    min-width: 320px;
    background-color: #2B2B2B;
    font-family: var(--font-style-work-sans);
    box-sizing: border-box;
    color: #ffffff;
}
ul li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
h1, h2, h3, h4, h5 {
    margin: 0;
    padding: 0;
}
.container {
    max-width: 1050px;
    margin: 0 auto;
    padding: 80px 0;
}
.heading{
    font-size: var(--heading-size-desctop);
    font-weight: 600;
    margin: 0 0 10px 0;
}
.description{
    font-size: 22px;
    font-weight: 400;
    margin: 0;
    margin-bottom: 60px;
}
.header__container{
    max-width: 1180px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 0;
}
.header__logo {
    padding: 14px 0;
}
.header__nav {
    display: none;
    max-width: 607px;
}
.header__nav.active {
    display: block;
}

.header__nav-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.header__nav .header__nav-list{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
    width: 100%;
    padding: 0;
    margin: 0;
}
.header__nav-list-item .header__nav-list-item-link {
    color: #ffffff;
    text-decoration: none;
}
.header__nav-list-item-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--bg-color-button);
    padding: 19px 30px;
    border-radius: var(--border-radius20);
    gap: 12px;
    color: #ffffff;
    outline: none;
    border: none;
}

/* hero */
.hero__group {
    display: flex;
    gap: 30px;
    align-items: flex-start;
}
.hero__group-heading {
    margin: 0;
    font-size: 67px;
    font-weight: 600;
}
.hero__group-subscribe {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.hero__group-description {
    margin: 0;
    font-size: 22px;
    font-weight: 400;
    line-height: 160%;
}
.hero__group-button {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    background-color: var(--bg-color-button);
    width: fit-content;
    padding: 19px 50px;
    font-size: 16px;
    border-radius: var(--border-radius20);
    gap: 12px;
}
.hero__group-cards {
    display: flex;
    flex-direction: row;
    gap: 60px;
}
.hero__group-card-heading {
    font-size: 28px;
    font-weight: 700;
    margin: 0;
}
.hero__group-card-description {
    margin: 0;
}
.hero__group-image {
    display: flex;
    flex-direction: column;
    gap: 0;
}
.hero__group-image-card {
    padding: 22px 20px;
    background-color: #3B3B3B;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-bottom-left-radius: var(--border-radius20);
    border-bottom-right-radius: var(--border-radius20);
}
.hero__group-image-card-heading{
    font-size: 22px;
    margin: 0;
}
.hero__group-image-card-description {
    font-size: 16px;
    font-weight: 400px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 12px;
}
/* trand */

.trand__heading{
    font-size: var(--heading-size-desctop);
    font-weight: 600;
    margin: 0 0 10px 0;
}
.trand__description{
    font-size: 22px;
    font-weight: 400;
    margin: 0;
    margin-bottom: 60px;
}
.trand__group-card {
    display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}
.trand__group-card-img {
grid-column: 1 / 4;
}
.trand__group-card-img-small,

.trand__group-card-more {
  width: 100%;
  height: 90px;
  border-radius: 16px;
}
.trand__group {
    display: flex;
    flex-direction: row;
    gap: 30px;
}
.trand__group-card-img-small-count {
    padding: 32px 16px;
    background-color: var(--bg-color-button);
    border-radius: var(--border-radius20);
    font-size: 22px;
    color: #ffffff;
    text-decoration: none;
    text-align: center;
    font-weight: 700;
}
.trand__group-image-card {
    grid-column: 1 / 4;
}

/* Creators */
.creators__group {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 60px;
}
.creators__group-text {
    grid-column: 1 / 4;
}
.creators__button {
    display: flex;
    gap: 12px;
    text-decoration: none;
    grid-column: 4 / 4;
    border-color: var(--bg-color-button);
    color: #ffffff;
    border: 1px solid var(--bg-color-button);
    border-radius: var(--border-radius20);
    text-align: center;
    max-height: 60px;
    vertical-align: middle;
    font-size: 16px;
    align-self: end;
    padding: 19px 50px;
}
.creators__group-cards{
   display: grid;
   grid-column: 1/5;
   grid-template-columns: repeat(4, 1fr);
   grid-gap: 30px;
}
.creators__group-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    gap: 20px;
    background-color: #3B3B3B;
    border-radius: var(--border-radius20);
}
.creators__group-card-description {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.creators__group-card-description-heading {
    margin: 0;
}
.creators__group-card-description-text {
    margin: 0;
}

/* category__group */
.category__group {
    display: flex;
    flex-direction: row;
    gap: 30px;
    flex-wrap: wrap;
}
.category__card {
    display: flex;
    flex-direction: column;
}
.category__card-description {
    padding: 20px 30px 25px;
    background-color: #3B3B3B;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.category-text {
    margin-bottom: 60px;
}
/* discover */
.discover__group {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 60px;
}
.discover__group-text {
    grid-column: 1 / 4;
}
.discover__button {
     display: flex;
    gap: 12px;
    text-decoration: none;
    grid-column: 4 / 4;
    border-color: var(--bg-color-button);
    color: #ffffff;
    border: 1px solid var(--bg-color-button);
    border-radius: var(--border-radius20);
    text-align: center;
    max-height: 60px;
    vertical-align: middle;
    font-size: 16px;
    align-self: end;
    padding: 19px 50px;
}
.discover__group-cards {
    display: grid;
    grid-column: 1 / 5;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
}
.discover__group-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #3B3B3B;
    border-radius: var(--border-radius20);
}
.discover__group-card-block {
    display: flex;
    flex-direction: column;
    padding: 20px 30px;
    box-sizing: border-box;
    width: 100%;
}
.discover__group-card-block-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.discover__group-card-block-price {
    display: flex;
    flex-direction: column;
}
.discover__group-card-block-price-heading {
    font-size: 12px;
    color: #858584;
}
.discover__group-card-block-price-count {
    font-size: 16px;
    line-height: 26px;
}
.discover__group-card-block-higer-heading{
    font-size: 12px;
    color: #858584;
}
.discover__group-card-block-higer-count{
   font-size: 16px;
    line-height: 26px;
}
.discover__group-card-block-higer {
    display: flex;
    flex-direction: column;
}
.discover__group-card-img {
    max-width: 100%;
}
.discover__group-card-block-description {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
}
.discover__group-card-block-heading {
    font-size: 22px;
    line-height: 36px;
}
.discover__group-card-block-description {
    font-size: 16px;
    line-height: 28px;
    margin-bottom: 20px;
}
/* Mash */

.mash {
 position: relative;
 height: 640px;
}
.mash__img {
   height: 640px;
    width: 100%;
    background: linear-gradient(to top, #A259FF 0%, #A259FF 15%,transparent 100%), url('../img/pic_card/Screen=Tablet.png');
    object-fit: cover;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    background-position: center;
}
.mash__block-group {
    position: absolute;
    max-width: 1050px;
    margin: 0 auto;
    padding: 80px 0;
    left: 80px;
    right: 80px;
    bottom: 70px;
     display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
}
.mash__block-tag {
     grid-column: 1 / 5;
     font-size: 16px;
     display: flex;
     flex-direction: row;
     align-items: end;
     gap: 12px;
}
.mash__block-action{
    grid-column: 1 / 3;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: flex-start;
}
.mash__block-action-head {
    font-size: 52px;
    font-weight: 600;
    line-height: 64px;
}
.mash__block-action__button {
    display: flex;
    gap: 12px;
    text-decoration: none;
    color: #2B2B2B;
    background-color: #ffffff;
    border: 1px solid var(--bg-color-button);
    border-radius: var(--border-radius20);
    text-align: center;
    max-width: 200px;
    max-height: 60px;
    font-weight: 600;
    box-sizing: border-box;
    vertical-align: middle;
    font-size: 16px;
    padding: 19px 50px;
}
.mash__block-timer {
    grid-column: 4 / 5;
    backdrop-filter: blur(10px);
    background: #3B3B3B80;
    padding: 30px;
    border-radius: var(--border-radius20);
    box-sizing: border-box;
     width: 295px;
}
.mash__block-time span{
    font-size: 38px;
    font-weight: 700;
    font-variant-numeric: tabular-nums;
    font-feature-settings: "tnum";
}
.mash__block-time {
    display: flex;
    justify-content: center;
    gap: 8px;
    font-variant-numeric: tabular-nums;
}
.mash__block-time-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 75px;
}
.mash__block-time-separator {
    width: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    font-weight: 700;
    line-height: 1;
    max-height: 45px;
}
.mash__block-timer-heading {
    font-size: 12px;
}
/* work__block-cards */

.work__block {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.work__block-cards {
    background-color: #3B3B3B;
    border-radius: var(--border-radius20);
}
.work__block-cards img {
    padding: 0 40px;
}
.work__block-cards-summury {
    padding: 30px;
}
.work__block-cards-title {
    text-align: center;
    font-size: 22px;
    font-weight: 600;
    line-height: 140%;
    font-family: var(--font-style-work-sans);
}
.work__block-cards-description {
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 140%;
    font-family: var(--font-style-work-sans);
}

/* Subscribe */
.digest__block {
    display: flex;
    flex-direction: row;
    padding: 60px;
    justify-content: space-between;
    background-color: #3B3B3B;
    border-radius: var(--border-radius20);
}
.digest__block img {
    width: 45%;
}
.digest__block-title {
    width: 45%;
}
.digest__block-title h3 {
    font-size: 38px;
    font-family: var(--font-style-work-sans);
    line-height: 120%;
    font-weight: 600;
}
.digest__block-title p {
    font-size: 22px;
    font-family: var(--font-style-work-sans);
    line-height: 140%;
    font-weight: 400;
}
.digest__block-subscribe {
  display: flex;
    width: 100%;
    height: 60px;
    background: #fff;
    border-radius: var(--border-radius20);
    overflow: hidden;
}
.digest__block-subscribe input {
  flex: 1;
  width: 40%;
  border: none;
  outline: none;
  padding: 0 35px;
  font-size: 16px;
  color: #333;
}
.digest__block-subscribe input::placeholder {
  color: #333;
}
.digest__block-subscribe button {
  width: 46%;
  border: none;
  border-radius: var(--border-radius20);
  background: #a259ff;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}
/* Footer */
.footer__block {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    gap: 80px;
}
.footer__heading {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
}
.footer__heading-title {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.footer__heading-title p {
    font-size: 16px;
    line-height: 140%;
    font-family: var(--font-style-work-sans);
    color: #CCCCCC;
    margin: 0;
    padding: 0;
}
.footer__heading-social {
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.footer__heading-social a {
    text-decoration: none;
}
.footer__explore {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
}
.footer__explore h5 {
    font-size: 22px;
    font-weight: 700;
    line-height: 160%;
}
.footer__explore-title {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.footer__explore-title li a {
    text-decoration: none;
    color: #CCCCCC;
    font-size: 16px;
    line-height: 140%;
    font-family: var(--font-style-work-sans);
}
.footer__block-title{
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.footer__block-title h3 {
    font-size: 22px;
    font-family: var(--font-style-work-sans);
    line-height: 160%;
    font-weight: 600;
}
.footer__block-title p {
    font-size: 16px;
    font-family: var(--font-style-work-sans);
     color: #CCCCCC;
    line-height: 140%;
    font-weight: 400;
     margin: 0;
    padding: 0;
}

.footer__block-subscribe {
  display: flex;
    width: 100%;
    height: 60px;
    background: #fff;
    border-radius: var(--border-radius20);
    overflow: hidden;
}
.footer__block-subscribe input {
  flex: 1;
  width: 40%;
  border: none;
  outline: none;
  padding: 0 35px;
  letter-spacing: 0%;
  font-size: 16px;
  color: #333;
}
.footer__block-subscribe input::placeholder {
  color: #333;
  letter-spacing: 0%;
}
.footer__block-subscribe button {
  width: 42%;
  border: none;
  border-radius: var(--border-radius20);
  background: #a259ff;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}
.footer{
    background-color: #3B3B3B;
}

@media (max-width: 1050px) {
    .container {
        max-width: 690px;
    }
}

@media (min-width: 768px) {
.header__burger {
    display: none;
}
.header__nav {
    display: block;
}
.header__nav-list {
    flex-direction: row;
}
}