node_modules/
# Системные и временные файлы
.DS_Store
.DS_Store?
._*
Thumbs.db
ehthumbs.db
Desktop.ini
*.swp
*.swo
*~
.trash
$RECYCLE.BIN/

# Папки скомпилированного кода и сборки
build/
dist/
target/
out/
bin/
